#wrapper{
    

}

#nav-info{
      

}

div>div>nav>ul{

	
  /*  background-color: rgb(239,248,247);*/
}

.greentext{
	list-style-type: none;
	color:rgb(96,190,174);
}

.graytext{

	color:rgb(87,87,87) ;
}

.title{

	color:rgb(96,190,174);
}

#titleA{


}
#titleB{

	
}
